.datagrid-nav {
    column-count: 3;
}

.color-square {
    min-width:70px;
    list-style:none;
    width: auto;
    border-radius: 4px;
}

.color-selectable {
    cursor: pointer;
    margin: 2px;
    opacity: 0.2;

    &:hover, &.color-selected {
        opacity: 1;
    }
}
