<form [formGroup]="dateRangeForm">
    <div>
        <label for="lowerDateLimit">{{'lowerLimit' | translate}}:</label>
    </div>

    <div class="tooltip tooltip-validation tooltip-sm" aria-haspopup="true" role="tooltip"
         [class.invalid]="(dateRangeForm?.invalid 
         && (dateRangeForm?.dirty 
         || dateRangeForm?.touched))
         || 
         (dateRangeForm?.get('lowerDateLimit')?.invalid 
         && (dateRangeForm?.get('lowerDateLimit')?.dirty 
         || dateRangeForm?.get('lowerDateLimit')?.touched))">
        <input class="form-control" type="date" formControlName="lowerDateLimit" size="25" (change)="changeDate($event)">
        <span class="tooltip-content">
            {{ validationService.getValidatorErrorMessage(dateRangeForm?.get('lowerDateLimit')) }}
            <br *ngIf="validationService.getValidatorErrorMessage(dateRangeForm?.get('lowerDateLimit'))"/>
            {{ validationService.getValidatorErrorMessage(dateRangeForm) }}
        </span>
    </div>

    <div>
        <label for="upperDateLimit">{{'upperLimit' | translate}}:</label>
    </div>

    <div class="tooltip tooltip-validation tooltip-sm" aria-haspopup="true" role="tooltip"
         [class.invalid]="dateRangeForm?.get('upperDateLimit')?.invalid 
         && (dateRangeForm?.get('upperDateLimit')?.dirty 
         || dateRangeForm?.get('upperDateLimit')?.touched)">
        <input class="form-control" type="date" formControlName="upperDateLimit" size="25" (change)="changeDate($event)">
        <span class="tooltip-content">
            {{ validationService.getValidatorErrorMessage(dateRangeForm?.get('upperDateLimit')) }}
            <br *ngIf="validationService.getValidatorErrorMessage(dateRangeForm?.get('upperDateLimit'))" />
            {{ validationService.getValidatorErrorMessage(dateRangeForm) }}
        </span>
    </div>
</form>