<div class="content-container">
    <div class="content-area">
        <section id="fof" class="clear">
            <div class="hgroup">
                <h1>Sorry, Nothing Found</h1>
                <h2>404 Error</h2>
            </div>
            <p>The Page You Requested Could Not Be Found On Our Server</p>
            <p>
                <a [routerLink]="['../','dashboard']" routerLinkActive="active">
                    Homepage
                </a>
            </p>
        </section>
    </div>
</div>