<div class="content-container">
    <div class="content-area">
        <section id="fof" class="clear">
            <div class="hgroup">
                <h1>
                    {{'notfoundСomponent.nothingFound' | translate}}
                </h1>
                <h2>
                    {{'notfoundСomponent.error' | translate}}
                </h2>
            </div>
            <p>
                {{'notfoundСomponent.youRequestedCouldNotBeFound' | translate}}
            </p>
            <p>
                <a [routerLink]="['../','dashboard']" routerLinkActive="active">
                    {{'notfoundСomponent.homepage' | translate}}
                </a>
            </p>
        </section>
    </div>
</div>