<div class="content-container">
    <div class="content-area">
        <form [formGroup]="candidatePageFrom">
            <section class="form-block"><br/>
                
                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="firstName">First Name:</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 tooltip tooltip-validation tooltip-sm" 
                           aria-haspopup="true"
                           role="tooltip"
                           [class.invalid]="candidatePageFrom.get('firstName')?.invalid && (candidatePageFrom.get('firstName')?.dirty || candidatePageFrom.get('firstName')?.touched)">
                        <input class="form-control" type="text" placeholder="First Name" formControlName="firstName" size="40">
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('firstName')) }}
                        </span>
                    </div>
                </div>
              
                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="lastName">Last Name:</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 tooltip tooltip-validation tooltip-sm"
                           aria-haspopup="true"
                           role="tooltip"
                           [class.invalid]="candidatePageFrom.get('lastName')?.invalid && (candidatePageFrom.get('lastName')?.dirty || candidatePageFrom.get('v')?.touched)">
                        <input class="form-control" type="text" placeholder="Last Name" formControlName="lastName" size="40">
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('lastName')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="experienceId">Candidate Experience:</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="select">
                            <select formControlName="experienceId">
                                <option value="{{experiences.value}}" *ngFor="let experience of experiences"> 
                                {{experiences.name}} 
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="email">Email:</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 tooltip tooltip-validation tooltip-sm"
                           aria-haspopup="true"
                           role="tooltip"
                           [class.invalid]="candidatePageFrom.get('email')?.invalid && (candidatePageFrom.get('email')?.dirty || candidatePageFrom.get('email')?.touched)">
                        <input class="form-control" type="text" placeholder="Email" formControlName="email" size="40">
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('email')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="skype">Skype:</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 tooltip tooltip-validation tooltip-sm"
                           aria-haspopup="true"
                           role="tooltip"
                           [class.invalid]="candidatePageFrom.get('skype')?.invalid && (candidatePageFrom.get('skype')?.dirty || candidatePageFrom.get('skype')?.touched)">
                        <input class="form-control" type="text" placeholder="Skype" formControlName="skype" size="40" required>
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('skype')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="linkedIn">LinkedIn:</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 tooltip tooltip-validation tooltip-sm"
                           aria-haspopup="true"
                           role="tooltip"
                           [class.invalid]="candidatePageFrom.get('linkedIn')?.invalid && (candidatePageFrom.get('linkedIn')?.dirty || candidatePageFrom.get('linkedIn')?.touched)">
                        <input class="form-control" type="text" placeholder="LinkedIn" formControlName="linkedIn" size="40" required>
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('linkedIn')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                       <label for="phone">Phone:</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 tooltip tooltip-validation tooltip-sm"
                           aria-haspopup="true"
                           role="tooltip"
                           [class.invalid]="candidatePageFrom.get('phone')?.invalid && (candidatePageFrom.get('phone')?.dirty || candidatePageFrom.get('phone')?.touched)">
                        <input class="form-control" type="text" placeholder="Phone" formControlName="phone" size="40" required>
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('phone')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="cvPath">CV Path:</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  tooltip tooltip-validation tooltip-sm"
                           aria-haspopup="true"
                           role="tooltip"
                           [class.invalid]="candidatePageFrom.get('cvPath')?.invalid && (candidatePageFrom.get('cvPath')?.dirty || candidatePageFrom.get('cvPath')?.touched)">
                        <input class="form-control" type="text" placeholder="CV Path" formControlName="cvPath" size="40" required>
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('cvPath')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="birthday">Birthday:</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  tooltip tooltip-validation tooltip-sm"
                           aria-haspopup="true"
                           role="tooltip"
                           [class.invalid]="candidatePageFrom.get('birthday')?.invalid && (candidatePageFrom.get('birthday')?.dirty || candidatePageFrom.get('birthday')?.touched)">
                        <input class="form-control" type="date" formControlName="birthday" size="40" required>
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('birthday')) }}
                        </span>
                    </div>
                </div>

                <input type="hidden" formControlName="id">

                <button type="button" class="btn btn-primary" (click)="saveCandidateClick($event)">Save</button>
                <button type="button" class="btn btn-secondary" (click)="cancelClick($event)">Cancel</button>
            </section>
        </form>
    </div>
</div>