################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
!launchSettings.json
/src/Applicant/bin
/src/Applicant/obj
