<div class="login-wrapper">
    <form class="login" [formGroup]="authorizationFrom">
        <div class="login-group form-group">
            <div class="auth-source">
            </div>
            <label for="userName"
                   aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation tooltip-sm"
                   [class.invalid]="authorizationFrom.get('userName')?.invalid && (authorizationFrom.get('userName')?.dirty || authorizationFrom.get('userName')?.touched)">
                <input class="form-control" type="text" formControlName="userName" placeholder="User name">
                <span class="tooltip-content">
                    Name is required.
                </span>
            </label>
            <label for="userPassword"
                   aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation tooltip-sm"
                   [class.invalid]="authorizationFrom.get('userPassword')?.invalid && (authorizationFrom.get('userPassword')?.dirty || authorizationFrom.get('userPassword')?.touched)">
                <input class="form-control" type="password" formControlName="userPassword" placeholder="Password">
                <span class="tooltip-content">
                    Password is required.
                </span>
            </label>
            <button type="button" class="btn btn-primary" style="margin: 0;" (click)="loginClick($event)">Sign in</button>
            <button type="button" class="btn btn-success" style="margin: 0; margin-top: 10px;">Sign Up</button>
        </div>
    </form>
</div>
