<div class="login-wrapper">
    <form class="login" [formGroup]="registrationForm">
        <div class="login-group form-group">
            <div class="auth-source" [innerHtml]="identityErrors">
            </div>

            <label for="email"
                   aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation tooltip-sm"
                   [class.invalid]="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)">
                <input class="form-control" type="text" formControlName="email" placeholder="Email">
                <span class="tooltip-content">
                    {{ validationService.getValidatorErrorMessage(registrationForm.get('email')) }}
                </span>
            </label>

            <label for="password"
                   aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation tooltip-sm"
                   [class.invalid]="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)">
                <input class="form-control" type="password" formControlName="password" placeholder="Password">
                <span class="tooltip-content">
                    {{ validationService.getValidatorErrorMessage(registrationForm.get('password')) }}
                </span>
            </label>

            <label for="confirmPassword"
                   aria-haspopup="true"
                   role="tooltip"
                   class="tooltip tooltip-validation tooltip-sm"
                   [class.invalid]="registrationForm.get('confirmPassword')?.invalid && (registrationForm.get('confirmPassword')?.dirty || registrationForm.get('confirmPassword')?.touched)">
                <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Confirm password.">
                <span class="tooltip-content">
                    {{ validationService.getValidatorErrorMessage(registrationForm.get('confirmPassword')) }}
                </span>
            </label>

            <button type="button" class="btn btn-success" style="margin: 0; margin-top: 10px;" (click)="signUp($event)">Sign Up</button>
        </div>
    </form>
</div>