<div class="content-container">
    <div class="content-area">
        <form [formGroup]="vacancyPageForm">
            <section class="form-block">
                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="title">Title:</label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 tooltip tooltip-validation tooltip-sm"
                         aria-haspopup="true"
                         role="tooltip"
                         [class.invalid]="vacancyPageForm.get('title')?.invalid && (vacancyPageForm.get('title')?.dirty || vacancyPageForm.get('title')?.touched)">
                        <input class="form-control" type="text" placeholder="Title" formControlName="title" size="25" />
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(vacancyPageForm.get('title')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="createDate">Create Date:</label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <input type="text" readonly formControlName="createDate" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="experienceId">Experience:</label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <div class="select">
                            <select id="experienceId" formControlName="experienceId">
                                <option value="1">year 1</option>
                                <option value="2">year 2</option>
                                <option value="3">year 3</option>
                                <option value="4">year 4</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="technologies">Technologies:</label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 tooltip tooltip-validation tooltip-sm"
                         aria-haspopup="true"
                         role="tooltip"
                         [class.invalid]="vacancyPageForm.get('technologies')?.invalid && (vacancyPageForm.get('technologies')?.dirty || vacancyPageForm.get('technologies')?.touched)">
                        <input class="form-control" type="text" formControlName="technologies" size="25">
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(vacancyPageForm.get('technologies')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="endDate">End Date:</label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 tooltip tooltip-validation tooltip-sm"
                         aria-haspopup="true"
                         role="tooltip"
                         [class.invalid]="vacancyPageForm.get('endDate')?.invalid && (vacancyPageForm.get('endDate')?.dirty || vacancyPageForm.get('endDate')?.touched)">
                        <input class="form-control" type="date" formControlName="endDate" size="25">
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(vacancyPageForm.get('endDate')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="vacancyDescription">Vacancy Description:</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div [froalaEditor] formControlName="vacancyDescription"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="jobDescription">Job Description:</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div [froalaEditor] formControlName="jobDescription"></div>
                    </div>
                </div>

                <input type="hidden" formControlName="id">

                    <button type="button" class="btn btn-primary" (click)="saveVacancyClick($event)">Save</button>
                    <button type="button" class="btn btn-secondary" (click)="cancelClick($event)">Cancel</button>
            </section>
        </form>
    </div>
</div>