<div class="container">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div>
            <h1>{{vacancy?.title}}</h1>
            <hr />
            <div>
                <h4>Added:   {{vacancy?.createdOn}}</h4>
            </div>

        </div>
        <div>
            <h3>Our requirments:</h3>
            <h3>Required technolodies:   {{vacancy?.vacancyTecnologies}}</h3>
            <h3>Experience:              {{vacancy?.experiences}}</h3>
        </div>
        <div>
            Vacancy Description:
            <h4>{{vacancy?.projectDescription}}</h4>
            <hr />
        </div>
        <div>
            Job Description:
            <h4>{{vacancy?.jobDescription}}</h4>
        </div>
    </div>
</div>