.candidate-container{
   position: relative;
} 
.search {
    width: 500px;
    background-image: url(https://cdn3.iconfinder.com/data/icons/miniglyphs/500/014-20.png);
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 15px;
    position: absolute;
    margin-left: 850px;
}
.button-container {
    margin-left: 200px;
    display: inline;
    position: absolute;
}
