<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <a [routerLink]="['../','vacancy', vacancy.id]" routerLinkActive="active"> 
                {{vacancy?.title}} 
                </a>
            </div>
            <div class="card-block">
                <div class="card-title">
                    {{vacancy?.jobDescription}}
                </div>
                <div class="card-text">
                    {{vacancy?.projectDescription}}
                </div>
            </div>
        </div>
    </div>
</div>