<div class="row" (click) ="onClick(vacancy.id)">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <div class="card"  style="cursor:pointer">
            <div class="card-header">
                {{vacancy?.title}}
            </div>
            <div class="card-block">
                <div class="card-title">
                    {{vacancy?.jobDescription}}
                </div>
                <div class="card-text">
                    {{vacancy?.projectDescription}}
                </div>
            </div>
        </div>
    </div>
</div>