<div class="content-container">
    <div class="content-area">
        <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading" [(clrDgSelected)]="selectedCandidates">
            <clr-dg-action-bar>
                <div class="btn-group">
                    <a class="btn btn-sm btn-success-outline" [routerLink]="['newcandidate']">
                        <clr-icon shape="plus"></clr-icon>
                        Add
                    </a>
                    <button type="button" class="btn btn-sm btn-danger-outline">
                        <clr-icon shape="close"></clr-icon>
                        Delete
                    </button>
                </div>
            </clr-dg-action-bar>

            <clr-dg-column>Id</clr-dg-column>
            <clr-dg-column>FirstName</clr-dg-column>
            <clr-dg-column>LastName</clr-dg-column>
            <clr-dg-column>ExperienceId</clr-dg-column>
            <clr-dg-column>Email</clr-dg-column>
            <clr-dg-column>LinkedIn</clr-dg-column>
            <clr-dg-column>Skype</clr-dg-column>
            <clr-dg-column>PhoneNumber</clr-dg-column>
            <clr-dg-column>CvPath</clr-dg-column>
            <clr-dg-column>UpdateOn</clr-dg-column>

            <clr-dg-row *ngFor="let candidate of candidates" [clrDgItem]="candidate">
                <clr-dg-action-overflow>
                    <button class="action-item" (click)="changeStatus($event, candidate, 0)">Activate</button>
                    <button class="action-item" (click)="changeStatus($event, candidate, 1)">Archive</button>
                    <button class="action-item" (click)="changeStatus($event, candidate, 2)">Delete</button>
                </clr-dg-action-overflow>

                <clr-dg-cell>{{candidate.id}}</clr-dg-cell>
                <clr-dg-cell>
                    <a [routerLink]="['/candidates/details', candidate.id]" routerLinkActive="active">{{candidate.firstName}}</a>
                </clr-dg-cell>
                <clr-dg-cell><a [routerLink]="['/candidates/details', candidate.id]" routerLinkActive="active">{{candidate.lastName}}</a></clr-dg-cell>
                <clr-dg-cell>{{candidate.experienceId}}</clr-dg-cell>
                <clr-dg-cell>{{candidate.email}}</clr-dg-cell>
                <clr-dg-cell>{{candidate.linkedIn}}</clr-dg-cell>
                <clr-dg-cell>{{candidate.skype}}</clr-dg-cell>
                <clr-dg-cell>{{candidate.phoneNumber}}</clr-dg-cell>
                <clr-dg-cell>{{candidate.cvPath}}</clr-dg-cell>
                <clr-dg-cell>{{candidate.updateOn}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
                <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="totalCount"></clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>