<div class="content-container">
    <div class="content-area">
        <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
            <clr-dg-action-bar>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-success-outline">
                        <clr-icon shape="plus"></clr-icon>
                        Add
                    </button>
                    <button type="button" class="btn btn-sm btn-danger-outline">
                        <clr-icon shape="close"></clr-icon>
                        Delete
                    </button>
                </div>
            </clr-dg-action-bar>

            <clr-dg-column [clrDgField]="name">Name</clr-dg-column>
            <clr-dg-column [clrDgField]="experienceLevel">Expiriens Level</clr-dg-column>
            <clr-dg-column [clrDgField]="lastVacancy">Last Vacancy</clr-dg-column>
            <clr-dg-column [clrDgField]="email">Email</clr-dg-column>
            <clr-dg-column [clrDgField]="linkedIn">LinkedIn</clr-dg-column>
            <clr-dg-column [clrDgField]="phone">Phone</clr-dg-column>
            <clr-dg-column [clrDgField]="age">Age</clr-dg-column>

            <clr-dg-row *ngFor="let candidate of candidates">
                <clr-dg-cell>{{candidate.name}}</clr-dg-cell>
                <clr-dg-cell>{{candidate.experienceLevel}}</clr-dg-cell>
                <clr-dg-cell>{{candidate.lastVacancy}}</clr-dg-cell>
                <clr-dg-cell>{{candidate.email}}</clr-dg-cell>
                <clr-dg-cell>{{candidate.linkedIn}}</clr-dg-cell>
                <clr-dg-cell>{{candidate.phone}}</clr-dg-cell>
                <clr-dg-cell>{{candidate.age}}</clr-dg-cell>
            </clr-dg-row>
            <!--<clr-dg-footer>{{users.length}} users</clr-dg-footer>-->
            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} users
                <clr-dg-pagination #pagination [clrDgPageSize]="20"></clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>