<div class="row">
    <div class="col-md-7">
        <form [formGroup]="candidatePageFrom">
            <section class="form-block">
                <div class="form-group">
                    <label for="firstName">First Name:</label>

                    <div class="tooltip tooltip-validation tooltip-sm" aria-haspopup="true"
                         role="tooltip" [class.invalid]="candidatePageFrom.get('firstName')?.invalid && (candidatePageFrom.get('firstName')?.dirty || candidatePageFrom.get('firstName')?.touched)">
                        <input class="form-control" type="text" placeholder="First Name" formControlName="firstName" size="40">
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('firstName')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name:</label>

                    <div class="tooltip tooltip-validation tooltip-sm" aria-haspopup="true" role="tooltip"
                         [class.invalid]="candidatePageFrom.get('lastName')?.invalid && (candidatePageFrom.get('lastName')?.dirty || candidatePageFrom.get('v')?.touched)">
                        <input class="form-control" type="text" placeholder="Last Name" formControlName="lastName" size="40">
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('lastName')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="experienceId">Experience:</label>

                    <div class="select">
                        <select formControlName="experienceId">
                            <option value="{{experience.value}}" *ngFor="let experience of experiences">
                                {{experience.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="technologiesId">Technologies:</label>

                    <div class="checkboxlist-scroll">
                        <div *ngFor="let technology of technologies" class="checkbox">
                            <input type="checkbox" id="{{technology?.id}}" value="{{technology?.id}}"
                                   [checked]="candidatePageFrom?.get('technologyIds')?.value?.indexOf(technology?.id)>=0"
                                   (change)="vacancyTechnologiesChange($event)">
                            <label for="{{technology?.id}}">
                                {{technology.name}}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>

                    <div class="tooltip tooltip-validation tooltip-sm" aria-haspopup="true" role="tooltip"
                         [class.invalid]="candidatePageFrom.get('email')?.invalid && (candidatePageFrom.get('email')?.dirty || candidatePageFrom.get('email')?.touched)">
                        <input class="form-control" type="text" placeholder="Email" formControlName="email" size="40">
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('email')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="skype">Skype:</label>

                    <div class="tooltip tooltip-validation tooltip-sm" aria-haspopup="true" role="tooltip"
                         [class.invalid]="candidatePageFrom.get('skype')?.invalid && (candidatePageFrom.get('skype')?.dirty || candidatePageFrom.get('skype')?.touched)">
                        <input class="form-control" type="text" placeholder="Skype" formControlName="skype" size="40" required>
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('skype')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="linkedIn">LinkedIn:</label>

                    <div class="tooltip tooltip-validation tooltip-sm" aria-haspopup="true" role="tooltip"
                         [class.invalid]="candidatePageFrom.get('linkedIn')?.invalid && (candidatePageFrom.get('linkedIn')?.dirty || candidatePageFrom.get('linkedIn')?.touched)">
                        <input class="form-control" type="text" placeholder="LinkedIn" formControlName="linkedIn" size="40" required>
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('linkedIn')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone">Phone:</label>

                    <div class="tooltip tooltip-validation tooltip-sm" aria-haspopup="true" role="tooltip"
                         [class.invalid]="candidatePageFrom.get('phone')?.invalid && (candidatePageFrom.get('phone')?.dirty || candidatePageFrom.get('phone')?.touched)">
                        <input class="form-control" type="text" placeholder="Phone" formControlName="phone" size="40" required>
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('phone')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cvPath">CV Path:</label>

                    <div class="tooltip tooltip-validation tooltip-sm" aria-haspopup="true" role="tooltip"
                         [class.invalid]="candidatePageFrom.get('cvPath')?.invalid && (candidatePageFrom.get('cvPath')?.dirty || candidatePageFrom.get('cvPath')?.touched)">
                        <input class="form-control" type="text" placeholder="CV Path" formControlName="cvPath" size="40" required>
                        <span class="tooltip-content">
                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('cvPath')) }}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="birthday">Birthday:</label>

                    <div class="tooltip tooltip-validation tooltip-sm" aria-haspopup="true" role="tooltip"
                         [class.invalid]="candidatePageFrom.get('birthday')?.invalid && (candidatePageFrom.get('birthday')?.dirty || candidatePageFrom.get('birthday')?.touched)">
                        <input class="form-control" type="date" formControlName="birthday" size="40" required>
                        <span class="tooltip-content">

                            {{ validationService.getValidatorErrorMessage(candidatePageFrom.get('birthday')) }}
                        </span>
                    </div>
                </div>

                <input type="hidden" formControlName="id">

                <button type="button" class="btn btn-primary" [disabled]="!candidatePageFrom.valid || candidatePageFrom.pristine" (click)="saveCandidateClick($event)">Save</button>
                <button type="button" class="btn btn-secondary" (click)="cancelClick($event)">Cancel</button>
            </section>
        </form>
    </div>

    <div class="col-md-5">
        <clr-datagrid (clrDgRefresh)="refreshCurrentVacancyList()" [(clrDgSelected)]="selectedVacanciesOfCandidate">
            <clr-dg-action-bar>
                <clr-button-group class="btn-outline btn-sm">
                    <clr-button [disabled]="candidatePageFrom.get('technologyIds').invalid && candidatePageFrom.get('technologyIds').dirty" (click)="showModal($event)">Add</clr-button>
                </clr-button-group>
                <clr-button-group class="btn-danger-outline btn-sm">
                    <clr-button [disabled]="!selectedVacanciesOfCandidate || selectedVacanciesOfCandidate.length===0" (click)="deleteVacancyClick($event)">Delete</clr-button>
                </clr-button-group>
            </clr-dg-action-bar>

            <clr-dg-column>Vacancy</clr-dg-column>
            <clr-dg-column>Stage</clr-dg-column>

            <clr-dg-row *ngFor="let candidateVacancy of candidateVacancyStage" [clrDgItem]="candidateVacancy">
                <clr-dg-cell>
                    <a [routerLink]="['/vacancies/details', candidateVacancy?.id]">{{candidateVacancy?.title}}</a>
                </clr-dg-cell>
                <clr-dg-cell>{{vacancyStages[candidateVacancy?.vacancyStage]?.name}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>

            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>

<clr-modal *ngIf="candidateAttachVacancyForm" [(clrModalOpen)]="setStageModalVisible">
    <h3 class="modal-title">Attach candidate to vacancy</h3>
    <div class="modal-body">
        <form [formGroup]="candidateAttachVacancyForm">
            <section class="form-block">
                <div class="form-group">
                    <label for="vacancyId" class="required">Vacancy</label>

                    <div class="select">
                        <select formControlName="vacancyId">
                            <option *ngFor="let vacancy of vacancies" [value]="vacancy.id">{{vacancy.title}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="vacancyStage" class="required">Stage</label>

                    <div class="select">
                        <select formControlName="vacancyStage">
                            <option *ngFor="let vacancyStage of vacancyStages" [value]="vacancyStage.value">{{vacancyStage.name}}</option>
                        </select>
                    </div>
                </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" [disabled]="!candidateAttachVacancyForm.valid || candidateAttachVacancyForm.pristine" (click)="attachToVacancyClick($event)">Save</button>
        <button type="button" class="btn btn-info" (click)="setStageModalVisible = false;">Cancel</button>
    </div>
</clr-modal>
