<div class="content-container">
    <div class="content-area">

        <clr-alert *ngIf="loadingError && !loading" [clrAlertType]="'alert-danger'" [clrAlertClosable]="true">
            <div clr-alert-item class="alert-item">
                <span class="alert-text">
                    Data don't loading.
                </span>
            </div>
        </clr-alert>

        <div class="form-group">
            <label for="search">
                <clr-icon shape="search"></clr-icon>

                <input type="text" class="search-input" id="search" placeholder="Search" size="50" />
            </label>
        </div>

        <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
            <clr-dg-action-bar>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-success-outline">
                        <clr-icon shape="plus"></clr-icon>
                        Add
                    </button>
                    <button type="button" class="btn btn-sm btn-danger-outline">
                        <clr-icon shape="close"></clr-icon>
                        Delete
                    </button>
                </div>
            </clr-dg-action-bar>

            <clr-dg-column>Title</clr-dg-column>
            <clr-dg-column>Experience Levels</clr-dg-column>
            <clr-dg-column>Create Date</clr-dg-column>
            <clr-dg-column>     </clr-dg-column>

            <clr-dg-row *clrDgItems="let item of vacanciesList">
                <clr-dg-cell><a [routerLink]="['../','vacancy', item?.id]" routerLinkActive="active">
                    {{item?.title}}
                    </a>
                </clr-dg-cell>
                <clr-dg-cell>{{item?.experienceId}}</clr-dg-cell>
                <clr-dg-cell>{{item?.createdOn | date}}</clr-dg-cell>
                <clr-dg-cell>edit | delete</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} vacancies
                <clr-dg-pagination #pagination [clrDgPageSize]="12"></clr-dg-pagination>
            </clr-dg-footer>

        </clr-datagrid>

    </div>
    <nav class="sidenav">
        <section class="sidenav-content">
            <table border="1" width="100%">
                <p>Type of employment</p>
                <div class="form-group">
                    <select id="selects_2">
                        <option>full time</option>
                        <option>San Francisco</option>
                    </select>
                    <p>Exsperience</p>
                    <div class="form-group">
                        <select id="selects_2">
                            <option>1-2years</option>
                            <option>San Francisco</option>
                        </select>
                    </div>
                    <p>Education</p>
                    <div class="form-group">
                        <select id="selects_2">
                            <option>highter</option>
                            <option>San Francisco</option>
                        </select>
                    </div>
                </div>
                <div>
                    <p>Salary:</p><div class="class-decorator salary">{{salary}}<span>$</span></div>
                </div>
                <input type="range" class="range" [(ngModel)]="salary" min="150" max="300" placeholder="150$">
            </table>
        </section>
    </nav>
</div>