<div class="content-container">
    <div class="content-area">
        <div align="right"><button class="btn btn-success" align="rigth">+ Create new vacancy</button></div>

        <div class="form-group">
            <label for="search">
                <clr-icon shape="search"></clr-icon>

                <input type="text" class="search-input" id="search" placeholder="Search" size="50" />
            </label>
        </div>
        <div infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="800"
            (scrolled)="onScroll()">
            <vacancy *ngFor="let item of vacanciesList"
                     [vacancy]="item">
            </vacancy>
        </div>

    </div>
    <nav class="sidenav">
        <section class="sidenav-content">
            <table border="1" width="100%">
                <p>Type of employment</p>
                <div class="form-group">
                    <select id="selects_2">
                        <option>full time</option>
                        <option>San Francisco</option>
                    </select>
                    <p>Exsperience</p>
                    <div class="form-group">
                        <select id="selects_2">
                            <option>1-2years</option>
                            <option>San Francisco</option>
                        </select>
                    </div>
                    <p>Education</p>
                    <div class="form-group">
                        <select id="selects_2">
                            <option>highter</option>
                            <option>San Francisco</option>
                        </select>
                    </div>
                </div>
                <div>
                    <p>Salary:</p><div class="class-decorator salary">{{salary}}<span>$</span></div>
                </div>
                <input type="range" class="range" [(ngModel)]="salary" min="150" max="300" placeholder="150$">
            </table>
        </section>
    </nav>
</div>